<?js
var data = obj || {};
if (data.description) {
?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
<dl class="param-type">
    <dt>
        <span class="sr-only">Type</span>
    </dt>
    <dd>
        (<?js= this.partial('type.tmpl', data.type.names).trim() ?>)
    </dd>
</dl>
<?js } ?>
